<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Regression" verbose="1" >
<!--    <test name="Calculator Test" >-->
<!--        <classes>-->
<!--            <class name="CalculatorTestRunner" />-->
<!--        </classes>-->
<!--    </test>-->
    <test name="YouTube Test" >
        <classes>
            <class name="YouTubeTestRunner" />
        </classes>
    </test>
</suite>
